Repository jaebaek/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @tapspatel, @davorchap, @TT-billteng, @pgkeller, @vtangTT, @mo-tenstorrent, @aliuTT, @tt-aho, @TT-BrianLiu, @ttmchiou, @abhullar-tt, @kmabeeTT, @tarafdarTT, @tt-asaigal, @ubcheema, @rtawfik01, @mywoodstock, @ttmtrajkovic, @rdjogoTT, @bbradelTT, @yugaoTT, @SeanNijjar, @arakhmati, @eyonland, @cfjchu, @xanderchin, @boris-drazic, @tt-nshanker, @uaydonat, @AleksKnezevic, @nsmithtt, @skhorasganiTT, @djordje-tt, @esmalTT, @kpaigwar, @pavlejosipovic, @pavlepopovic, @s-jovic, @yieldthought, @mtairum, @johanna-rock-tt, @cglagovichTT, @caixunshiren

#7543: Fix moreh_nll_loss test
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
Owners: none

Do not push to github for now
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

Store a folder in artifacts so we can see if the process would work
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

Fix with block
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

#9171: Add multi-device tensor support - Attention
  models/demos/t3000/falcon40b/tests/test_falcon_attention_optimized.py
  models/demos/t3000/falcon40b/tt/falcon_attention_optimized.py
  models/demos/t3000/falcon40b/tt/falcon_mlp_optimized.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

Add comment to bfloat16.hpp for brief BFloat16 description
  tt_metal/common/bfloat16.hpp
Owners: none

Add comment to tt_metal tilize() function
  tt_metal/common/tilize_untilize.hpp
Owners: none

Update matmul_multi_core programming example for readability
  tt_metal/programming_examples/matmul_multi_core/matmul_multi_core.cpp
Owners: none

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

# T3000 workflows
.github/workflows/t3000*.yaml @tapspatel

# TG workflows
.github/workflows/tg-*.yaml @tapspatel

# TGG workflows
.github/workflows/tgg*.yaml @tapspatel

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim
METALIUM_GUIDE.md @davorchap

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
scripts/build_scripts/build_with_profiler_opt.sh @mo-tenstorrent @tt-rkim
cmake/ @tt-rkim @vtangTT @TT-billteng
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_metal/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_eager/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @tapspatel
tests/scripts/tg/ @tapspatel
tests/scripts/tgg/ @tapspatel

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @davorchap @kmabeeTT
# tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @tarafdarTT @kmabeeTT
# tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @pgkeller @tt-asaigal
tt_metal/impl/dispatch/kernels/packet_* @ubcheema
tt_metal/impl/dispatch/kernels/eth_* @ubcheema
tt_metal/kernels/dataflow/dispatch/ @tarafdarTT @pgkeller
docs/source/frameworks/tt_dispatch.rst @pgkeller
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT
tt_metal/hw/inc/ethernet/ @aliuTT
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim @tapspatel

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
tt_eager/tt_dnn/op_library/bmm/ @TT-BrianLiu @bbradelTT @yugaoTT

# eager - tensor and op infra
tt_eager/tt_dnn/op_library/ccl/ @SeanNijjar
tt_eager/tt_dnn/op_library/operation_history.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/run_operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/program_cache.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tensor/ @arakhmati @eyonland @cfjchu @xanderchin

# eager - python api
# **/tt_lib/
**/tt_eager/tt_lib/csrc/ @TT-BrianLiu @tt-aho @mywoodstock
**/tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_pytensor.cpp @arakhmati @eyonland @cfjchu @xanderchin
**/tt_eager/tt_lib/fallback_ops @tt-aho

# TTNN
ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu
ttnn/setup.py @tt-rkim
ttnn/module.mk @tt-rkim
ttnn/CMakeLists.txt @tt-rkim
tests/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu

# models
models/ @boris-drazic
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati @cfjchu @xanderchin
models/demos @eyonland @arakhmati @cfjchu @xanderchin
models/demos/wormhole @uaydonat @eyonland @AleksKnezevic @nsmithtt
models/demos/t3000 @uaydonat @AleksKnezevic @nsmithtt
models/demos/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat @pavlejosipovic @pavlepopovic @s-jovic
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/t3000/falcon40b @johanna-rock-tt @uaydonat @s-jovic
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/grayskull @boris-drazic @eyonland
models/experimental/
models/perf/ @boris-drazic @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @arakhmati @cfjchu @xanderchin
docs/source/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/install @tapspatel
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim
