Repository jaebaek/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @tapspatel, @davorchap, @TT-billteng, @pgkeller, @vtangTT, @mo-tenstorrent, @aliuTT, @tt-aho, @TT-BrianLiu, @ttmchiou, @abhullar-tt, @kmabeeTT, @tarafdarTT, @tt-asaigal, @ubcheema, @rtawfik01, @mywoodstock, @ttmtrajkovic, @rdjogoTT, @bbradelTT, @yugaoTT, @SeanNijjar, @arakhmati, @eyonland, @cfjchu, @xanderchin, @boris-drazic, @tt-nshanker, @uaydonat, @AleksKnezevic, @nsmithtt, @skhorasganiTT, @djordje-tt, @esmalTT, @kpaigwar, @pavlejosipovic, @pavlepopovic, @s-jovic, @yieldthought, @mtairum, @johanna-rock-tt, @cglagovichTT, @caixunshiren

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

# T3000 workflows
.github/workflows/t3000*.yaml @tapspatel

# TG workflows
.github/workflows/tg-*.yaml @tapspatel

# TGG workflows
.github/workflows/tgg*.yaml @tapspatel

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim
METALIUM_GUIDE.md @davorchap

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
scripts/build_scripts/build_with_profiler_opt.sh @mo-tenstorrent @tt-rkim
cmake/ @tt-rkim @vtangTT @TT-billteng
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_metal/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_eager/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @tapspatel
tests/scripts/tg/ @tapspatel
tests/scripts/tgg/ @tapspatel

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @davorchap @kmabeeTT
# tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @tarafdarTT @kmabeeTT
# tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @pgkeller @tt-asaigal
tt_metal/impl/dispatch/kernels/packet_* @ubcheema
tt_metal/impl/dispatch/kernels/eth_* @ubcheema
tt_metal/kernels/dataflow/dispatch/ @tarafdarTT @pgkeller
docs/source/frameworks/tt_dispatch.rst @pgkeller
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT
tt_metal/hw/inc/ethernet/ @aliuTT
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim @tapspatel

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
tt_eager/tt_dnn/op_library/bmm/ @TT-BrianLiu @bbradelTT @yugaoTT

# eager - tensor and op infra
tt_eager/tt_dnn/op_library/ccl/ @SeanNijjar
tt_eager/tt_dnn/op_library/operation_history.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/run_operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/program_cache.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tensor/ @arakhmati @eyonland @cfjchu @xanderchin

# eager - python api
# **/tt_lib/
**/tt_eager/tt_lib/csrc/ @TT-BrianLiu @tt-aho @mywoodstock
**/tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_pytensor.cpp @arakhmati @eyonland @cfjchu @xanderchin
**/tt_eager/tt_lib/fallback_ops @tt-aho

# TTNN
ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu
ttnn/setup.py @tt-rkim
ttnn/module.mk @tt-rkim
ttnn/CMakeLists.txt @tt-rkim
tests/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu

# models
models/ @boris-drazic
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati @cfjchu @xanderchin
models/demos @eyonland @arakhmati @cfjchu @xanderchin
models/demos/wormhole @uaydonat @eyonland @AleksKnezevic @nsmithtt
models/demos/t3000 @uaydonat @AleksKnezevic @nsmithtt
models/demos/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat @pavlejosipovic @pavlepopovic @s-jovic
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/t3000/falcon40b @johanna-rock-tt @uaydonat @s-jovic
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/grayskull @boris-drazic @eyonland
models/experimental/
models/perf/ @boris-drazic @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @arakhmati @cfjchu @xanderchin
docs/source/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/install @tapspatel
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim

#9206: try topk then falcon with dram states cleared in between
  tests/scripts/t3000/run_t3000_demo_tests.sh
  tests/scripts/t3000/run_t3000_frequent_tests.sh
  tt_metal/impl/device/device.cpp
Owners: @tapspatel

#0: falcon7b 2k decode pcc debug wip
  models/demos/falcon7b/reference/hf_modeling_falcon.py
  models/demos/falcon7b/tests/test_falcon_model.py
  models/demos/falcon7b/tt/falcon_attention.py
Owners: @skhorasganiTT, @djordje-tt, @uaydonat

#8835: added TMP-based device operation infra
  tt_eager/tensor/tensor.hpp
  ttnn/cpp/ttnn/device_operation.hpp
  ttnn/cpp/ttnn/op_library/binary/binary_op.cpp
  ttnn/cpp/ttnn/op_library/binary/binary_op.hpp
  ttnn/cpp/ttnn/op_library/binary/element_wise_multi_core.hpp
  ttnn/cpp/ttnn/operations/binary.hpp
Owners: @arakhmati, @eyonland, @cfjchu, @xanderchin, @TT-BrianLiu

#5389: moved ExecuteBinary outside of op_library
  ttnn/cpp/ttnn/op_library/binary/binary_op.cpp
  ttnn/cpp/ttnn/op_library/binary/binary_op.hpp
  ttnn/cpp/ttnn/operations/binary.hpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#9319: Add preliminary workflow to extract values from post-commit pipeline
  .github/workflows/_produce-data.yaml
Owners: @tt-rkim

#9319: REVERT ME - get rid of unnecessary workflows from post-commit and add branch trigger for this branch for data
  .github/workflows/_produce-data.yaml
  .github/workflows/all-post-commit-workflows.yaml
Owners: @tt-rkim

#9319: Attempt to use gh actions cli
  .github/workflows/_produce-data.yaml
Owners: @tt-rkim

#8082: updated docs-latest-public-wrapper.yaml
  .github/workflows/docs-latest-public-wrapper.yaml
Owners: @tt-rkim

#8082: cpp post commit
  .github/workflows/cpp-post-commit.yaml
Owners: @tt-rkim

#8082: install clang-17
  dockerfile/ubuntu-20.04-amd64.Dockerfile
Owners: @ttmchiou, @TT-billteng, @tt-rkim

#8082: Remove creating venv automatically in build_with_profiler_opt.sh
  scripts/build_scripts/build_with_profiler_opt.sh
Owners: @mo-tenstorrent, @tt-rkim

#8082: t3k/tg/tgg
  .github/workflows/t3000-demo-tests.yaml
  .github/workflows/t3000-unit-tests.yaml
  .github/workflows/tg-frequent-tests.yaml
  .github/workflows/tg-model-perf-tests.yaml
  .github/workflows/tg-unit-tests.yaml
  .github/workflows/tgg-unit-tests.yaml
Owners: @tapspatel

#8082: Adding arch specific docker images for tt-metal
  dockerfile/grayskull.Dockerfile
  dockerfile/wormhole_b0.Dockerfile
Owners: @ttmchiou, @TT-billteng, @tt-rkim

#8082: full regressions and models
  .github/workflows/full-regressions-and-models.yaml
Owners: @tt-rkim

#8082: perf models
  .github/workflows/perf-models.yaml
Owners: @tt-rkim

#8082: models
  .github/workflows/models-post-commit.yaml
Owners: @tt-rkim

#8082: remove venv
  dockerfile/ubuntu-20.04-amd64.Dockerfile
Owners: @ttmchiou, @TT-billteng, @tt-rkim

#8082: fd full regression
  .github/workflows/fast-dispatch-full-regressions-and-models.yaml
Owners: @tt-rkim

#8082: attempt to cut down build docker artifact time
  .github/workflows/build-docker-artifact.yaml
Owners: @tt-rkim

#8082: models post commit
  .github/workflows/models-post-commit.yaml
Owners: @tt-rkim

#8082: ttnn post commit
  .github/workflows/ttnn-post-commit.yaml
  dockerfile/ubuntu-20.04-amd64.Dockerfile
Owners: @tt-rkim, @ttmchiou, @TT-billteng

#8082: profiler regression opt shell script
  .github/workflows/run-profiler-regression.yaml
Owners: @tt-rkim

#8082: Attempt to try ghcr pushing and building
  .github/workflows/build-artifact.yaml
  .github/workflows/build-docker-artifact.yaml
Owners: @tt-rkim

#8082: check for docker image tag
  .github/workflows/build-artifact.yaml
Owners: @tt-rkim

#9312: Add single-header `boost-ext/reflect` library as dependency
  CMakeLists.txt
  tests/ttnn/unit_tests/gtests/CMakeLists.txt
  tests/ttnn/unit_tests/gtests/test_reflect.cpp
  tt_metal/common/CMakeLists.txt
Owners: @tt-rkim, @vtangTT, @TT-billteng, @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: Add trace region in DRAM. Trace buffer is no longer preallocated
  conftest.py
  tests/ttnn/unit_tests/test_multi_device_trace.py
  tt_metal/impl/allocator/allocator.cpp
  tt_metal/impl/allocator/allocator.hpp
  tt_metal/impl/allocator/allocator_types.hpp
  tt_metal/impl/buffers/buffer.cpp
  tt_metal/impl/buffers/buffer.hpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/device/device.hpp
  tt_metal/impl/dispatch/command_queue.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
  tt_metal/impl/trace/trace.cpp
  tt_metal/impl/trace/trace.hpp
  tt_metal/tt_metal.cpp
Owners: @tt-rkim, @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @tarafdarTT, @kmabeeTT, @pgkeller, @tt-asaigal

#9196: Added new op: fast_reduce nc which improves reduction performance on dim0 and 1
  tests/tt_eager/python_api_testing/unit_testing/misc/test_fast_reduce_nc.py
  tt_eager/tt_dnn/op_library/CMakeLists.txt
  tt_eager/tt_dnn/op_library/fast_reduce_nc/fast_reduce_nc_op.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/fast_reduce_nc_op.hpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/kernels/reader_reduce_nc.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/kernels/reduce_nc.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/kernels/writer_reduce_nc.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/reduce_nc_impl.cpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor.cpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#9196: removed moreh headers and functions
  tt_eager/tt_dnn/op_library/fast_reduce_nc/fast_reduce_nc_op.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/reduce_nc_impl.cpp
Owners: none

#9196: Added test case to properly test prgm cache
  tests/tt_eager/python_api_testing/unit_testing/misc/test_fast_reduce_nc.py
Owners: none

#9196: optimized compute kernel with accumulation on dst. Resolved pcc issue with bfp8_b and fp32 accumulate. cleaned up code
  tt_eager/tt_dnn/op_library/fast_reduce_nc/fast_reduce_nc_op.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/fast_reduce_nc_op.hpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/kernels/reader_reduce_nc.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/kernels/reduce_nc.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/kernels/writer_reduce_nc.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/reduce_nc_impl.cpp
Owners: none

#9196: Added bfp8_b support for fast_reduce_nc
  tests/tt_eager/python_api_testing/unit_testing/misc/test_fast_reduce_nc.py
  tt_eager/tt_dnn/op_library/fast_reduce_nc/fast_reduce_nc_op.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/kernels/reduce_nc.cpp
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/reduce_nc_impl.cpp
Owners: none

#9196: fixed compile time arg issue
  tt_eager/tt_dnn/op_library/fast_reduce_nc/reduce_nc_impl/reduce_nc_impl.cpp
Owners: none

#9150: Add optional output tensor support for prod along N,C dimension
  tests/tt_eager/python_api_testing/unit_testing/test_prod_nc.py
  tt_eager/tt_dnn/op_library/composite/composite_ops.cpp
  tt_eager/tt_dnn/op_library/composite/composite_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#0: remove boost, clang, and sndfile dependencies
  .github/actions/install-metal-deps/dependencies.json
  .github/actions/install-metal-dev-deps/dependencies.json
Owners: @tt-rkim

#0: remove glog
  .github/actions/install-metal-deps/dependencies.json
Owners: @tt-rkim

#0: remove boost, glog, and libsndfile1 from install instructions
  INSTALLING.md
Owners: @tt-rkim

#8682: Add mod support for WH_B0
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_eltwise_unary.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/eltwise_unary/eltwise_unary_op.cpp
  tt_eager/tt_dnn/op_library/eltwise_unary/eltwise_unary_op.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_xary_ops.cpp
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_math_unary_sfpu_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_remainder.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_remainder.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/include/compute_kernel_api/eltwise_unary/remainder.h
  tt_metal/include/compute_kernel_api/eltwise_unary/sfpu_split_includes.h
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @tt-aho, @mywoodstock, @rtawfik01

#0: fetch gtest via CPM
  .github/actions/install-metal-dev-deps/action.yml
  CMakeLists.txt
  INSTALLING.md
  tests/CMakeLists.txt
Owners: @tt-rkim, @vtangTT, @TT-billteng

#0: clean out dependencies from docker
  dockerfile/ubuntu-20.04-amd64.Dockerfile
  scripts/docker/install_test_deps.sh
  scripts/docker/requirements.txt
Owners: @ttmchiou, @TT-billteng, @tt-rkim

#0: fix gtest build error
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @tt-rkim, @vtangTT, @TT-billteng
