Repository jaebaek/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @tapspatel, @davorchap, @TT-billteng, @pgkeller, @vtangTT, @mo-tenstorrent, @aliuTT, @tt-aho, @TT-BrianLiu, @ttmchiou, @abhullar-tt, @kmabeeTT, @tarafdarTT, @tt-asaigal, @ubcheema, @rtawfik01, @mywoodstock, @ttmtrajkovic, @rdjogoTT, @bbradelTT, @yugaoTT, @SeanNijjar, @arakhmati, @eyonland, @cfjchu, @xanderchin, @boris-drazic, @tt-nshanker, @uaydonat, @AleksKnezevic, @nsmithtt, @skhorasganiTT, @djordje-tt, @esmalTT, @kpaigwar, @pavlejosipovic, @pavlepopovic, @s-jovic, @yieldthought, @mtairum, @johanna-rock-tt, @cglagovichTT, @caixunshiren

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

# T3000 workflows
.github/workflows/t3000*.yaml @tapspatel

# TG workflows
.github/workflows/tg-*.yaml @tapspatel

# TGG workflows
.github/workflows/tgg*.yaml @tapspatel

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim
METALIUM_GUIDE.md @davorchap

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
scripts/build_scripts/build_with_profiler_opt.sh @mo-tenstorrent @tt-rkim
cmake/ @tt-rkim @vtangTT @TT-billteng
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_metal/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_eager/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @tapspatel
tests/scripts/tg/ @tapspatel
tests/scripts/tgg/ @tapspatel

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @davorchap @kmabeeTT
# tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @tarafdarTT @kmabeeTT
# tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @pgkeller @tt-asaigal
tt_metal/impl/dispatch/kernels/packet_* @ubcheema
tt_metal/impl/dispatch/kernels/eth_* @ubcheema
tt_metal/kernels/dataflow/dispatch/ @tarafdarTT @pgkeller
docs/source/frameworks/tt_dispatch.rst @pgkeller
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT
tt_metal/hw/inc/ethernet/ @aliuTT
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim @tapspatel

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
tt_eager/tt_dnn/op_library/bmm/ @TT-BrianLiu @bbradelTT @yugaoTT

# eager - tensor and op infra
tt_eager/tt_dnn/op_library/ccl/ @SeanNijjar
tt_eager/tt_dnn/op_library/operation_history.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/run_operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/program_cache.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tensor/ @arakhmati @eyonland @cfjchu @xanderchin

# eager - python api
# **/tt_lib/
**/tt_eager/tt_lib/csrc/ @TT-BrianLiu @tt-aho @mywoodstock
**/tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_pytensor.cpp @arakhmati @eyonland @cfjchu @xanderchin
**/tt_eager/tt_lib/fallback_ops @tt-aho

# TTNN
ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu
ttnn/setup.py @tt-rkim
ttnn/module.mk @tt-rkim
ttnn/CMakeLists.txt @tt-rkim
tests/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu

# models
models/ @boris-drazic
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati @cfjchu @xanderchin
models/demos @eyonland @arakhmati @cfjchu @xanderchin
models/demos/wormhole @uaydonat @eyonland @AleksKnezevic @nsmithtt
models/demos/t3000 @uaydonat @AleksKnezevic @nsmithtt
models/demos/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat @pavlejosipovic @pavlepopovic @s-jovic
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/t3000/falcon40b @johanna-rock-tt @uaydonat @s-jovic
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/grayskull @boris-drazic @eyonland
models/experimental/
models/perf/ @boris-drazic @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @arakhmati @cfjchu @xanderchin
docs/source/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/install @tapspatel
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim

#5044: Add optional output tensor for backward ops
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_addcmul.py
  tt_eager/tt_dnn/op_library/backward/backward_ops.cpp
  tt_eager/tt_dnn/op_library/backward/backward_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_backward_ops.cpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#8788: Refactor program cache test
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_linear.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_matmul.py
  tt_eager/tt_dnn/op_library/moreh_matmul/moreh_matmul_op.cpp
  tt_eager/tt_dnn/op_library/moreh_matmul/moreh_matmul_op.hpp
  tt_eager/tt_dnn/op_library/moreh_matmul/multi_core/moreh_matmul_op_multi_core.cpp
Owners: none

#0: wip 2
  models/demos/falcon7b/tests/test_falcon_device_perf.py
  models/demos/falcon7b/tt/falcon_causallm.py
  models/demos/falcon7b/tt/falcon_model.py
Owners: @skhorasganiTT, @djordje-tt, @uaydonat

#0: wip
  models/demos/falcon7b/tests/test_falcon_device_perf.py
Owners: @skhorasganiTT, @djordje-tt, @uaydonat

#7543: Add keepdim param to moreh_sum_backward
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.hpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/kernels/reader_moreh_sum_backward.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/moreh_sum_backward_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#7543: Add keepdim param to moreh_sum
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/op_library/backward/backward_ops.cpp
  tt_eager/tt_dnn/op_library/moreh_linear_backward/moreh_linear_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_matmul_backward/moreh_matmul_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_nll_loss/moreh_nll_loss_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#7543: Rename keepdim to keep_batch_dim
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.hpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/moreh_sum_backward_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.hpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#7543: Apply keepdim support to moreh_sum
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_impl/moreh_sum_backward_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.hpp
Owners: none

#5044: Add optional output for addcdiv and addcmul backward
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_addcdiv.py
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_addcmul.py
  tt_eager/tt_dnn/op_library/backward/backward_ops.cpp
  tt_eager/tt_dnn/op_library/backward/backward_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_backward_ops.cpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#7543: Add program cache test
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_op.hpp
  tt_eager/tt_dnn/op_library/moreh_sum_backward/moreh_sum_backward_op.hpp
Owners: none

#8591: Testing Yolox_m ttnn implementation
  models/experimental/functional_yolox_m/reference/bottleneck_block.py
  models/experimental/functional_yolox_m/reference/csp_darknet.py
  models/experimental/functional_yolox_m/reference/dark2.py
  models/experimental/functional_yolox_m/reference/dark3.py
  models/experimental/functional_yolox_m/reference/dark4.py
  models/experimental/functional_yolox_m/reference/dark5.py
  models/experimental/functional_yolox_m/reference/yolo_head.py
  models/experimental/functional_yolox_m/reference/yolo_pafpn.py
  models/experimental/functional_yolox_m/reference/yolox_m.py
  models/experimental/functional_yolox_m/tt/ttnn_bottleneck_block.py
  models/experimental/functional_yolox_m/tt/ttnn_cspdarknet.py
  models/experimental/functional_yolox_m/tt/ttnn_dark2.py
  models/experimental/functional_yolox_m/tt/ttnn_dark3.py
  models/experimental/functional_yolox_m/tt/ttnn_dark4.py
  models/experimental/functional_yolox_m/tt/ttnn_dark5.py
  models/experimental/functional_yolox_m/tt/ttnn_yolopafpn.py
  models/experimental/functional_yolox_m/tt/ttnn_yolox.py
  tests/ttnn/integration_tests/yolox_m/README.md
  tests/ttnn/integration_tests/yolox_m/custom_preprocessor_cspdarknet.py
  tests/ttnn/integration_tests/yolox_m/custom_preprocessor_d2.py
  tests/ttnn/integration_tests/yolox_m/custom_preprocessor_d3.py
  tests/ttnn/integration_tests/yolox_m/custom_preprocessor_d4.py
  tests/ttnn/integration_tests/yolox_m/custom_preprocessor_d5.py
  tests/ttnn/integration_tests/yolox_m/custom_preprocessor_yolopafpn.py
  tests/ttnn/integration_tests/yolox_m/test_ttnn_dark2.py
  tests/ttnn/integration_tests/yolox_m/test_ttnn_dark3.py
  tests/ttnn/integration_tests/yolox_m/test_ttnn_dark4.py
  tests/ttnn/integration_tests/yolox_m/test_ttnn_dark5.py
  tests/ttnn/integration_tests/yolox_m/test_ttnn_focus.py
  tests/ttnn/integration_tests/yolox_m/test_ttnn_yolopafpn.py
  tests/ttnn/integration_tests/yolox_m/test_ttnn_yolox.py
  tests/ttnn/integration_tests/yolox_m/test_yolox_flops.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: change device mesh to module session
  conftest.py
Owners: @tt-rkim

#0: switch device mesh to session
  conftest.py
Owners: @tt-rkim

#0: WIP diff stick lengths
  tests/ttnn/unit_tests/operations/test_core.py
  tt_eager/tt_dnn/op_library/sharded/multi_core/sharded_op_multi_core.cpp
  tt_eager/tt_dnn/op_library/sharded/sharded_op.cpp
  tt_metal/impl/buffers/buffer.cpp
  tt_metal/impl/buffers/buffer.hpp
  ttnn/cpp/ttnn/op_library/to_memory_config/to_memory_config_op.hpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @tarafdarTT, @kmabeeTT

#0: Initial implementation
  tests/scripts/run_tools_tests.sh
  tests/tt_metal/tt_metal/unit_tests_common/common/common_fixture.hpp
  tests/tt_metal/tt_metal/unit_tests_common/common/dprint_fixture.hpp
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch_single_chip_multi_queue/common/command_queue_fixture.hpp
  tt_metal/host_api.hpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/dispatch/command_queue_interface.hpp
  tt_metal/impl/dispatch/dispatch_address_map.hpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
  tt_metal/tools/watcher_dump/watcher_dump.cpp
  tt_metal/tt_metal.cpp
Owners: @abhullar-tt, @davorchap, @kmabeeTT, @pgkeller, @tt-asaigal

#8082: Play with ghcr
  .github/workflows/all-post-commit-workflows.yaml
  .github/workflows/build-artifact.yaml
  .github/workflows/build-docker-artifact.yaml
Owners: @tt-rkim

#9171: Add multi-device tensor support - MLP
  models/demos/t3000/falcon40b/tests/test_falcon_mlp_optimized.py
  models/demos/t3000/falcon40b/tt/falcon_mlp_optimized.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

#9171: Remove unnecessary prints
  models/demos/t3000/falcon40b/tt/falcon_mlp_optimized.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

#8865: Use DumpDeviceProfiler in host side op profiling
  tests/tt_eager/profiling/profile_host_overhead.py
  tests/tt_eager/profiling/profile_host_overhead_with_tracy.py
Owners: none

#8717: ttnn segformer implementation
  models/experimental/functional_segformer/demo/cpu_demo.py
  models/experimental/functional_segformer/reference/segformer_attention.py
  models/experimental/functional_segformer/reference/segformer_dwconv.py
  models/experimental/functional_segformer/reference/segformer_efficient_selfattention.py
  models/experimental/functional_segformer/reference/segformer_encoder.py
  models/experimental/functional_segformer/reference/segformer_layer.py
  models/experimental/functional_segformer/reference/segformer_mixffn.py
  models/experimental/functional_segformer/reference/segformer_model.py
  models/experimental/functional_segformer/reference/segformer_overlap_patch_embeddings.py
  models/experimental/functional_segformer/reference/segformer_selfoutput.py
  models/experimental/functional_segformer/tt/ttnn_segformer_attention.py
  models/experimental/functional_segformer/tt/ttnn_segformer_dwconv.py
  models/experimental/functional_segformer/tt/ttnn_segformer_efficient_selfattention.py
  models/experimental/functional_segformer/tt/ttnn_segformer_encoder.py
  models/experimental/functional_segformer/tt/ttnn_segformer_layer.py
  models/experimental/functional_segformer/tt/ttnn_segformer_mix_ffn.py
  models/experimental/functional_segformer/tt/ttnn_segformer_model.py
  models/experimental/functional_segformer/tt/ttnn_segformer_overlap_patch_embeddings.py
  models/experimental/functional_segformer/tt/ttnn_segformer_selfoutput.py
  tests/ttnn/integration_tests/segformer/test_segformer_attention.py
  tests/ttnn/integration_tests/segformer/test_segformer_dwconv.py
  tests/ttnn/integration_tests/segformer/test_segformer_efficient_selfattention.py
  tests/ttnn/integration_tests/segformer/test_segformer_encoder.py
  tests/ttnn/integration_tests/segformer/test_segformer_layer.py
  tests/ttnn/integration_tests/segformer/test_segformer_mix_ffn.py
  tests/ttnn/integration_tests/segformer/test_segformer_model.py
  tests/ttnn/integration_tests/segformer/test_segformer_overlap_path_embeddings.py
  tests/ttnn/integration_tests/segformer/test_segformer_selfoutput.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @tt-nshanker

#8457: Add test cases for sliding window ops.
  tests/tt_eager/CMakeLists.txt
  tests/tt_eager/ops/test_sliding_window_ops.cpp
Owners: none

#9148: Add optional output and cq_id for repeat backward
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_repeat.py
  tt_eager/tt_dnn/op_library/backward/backward_ops.cpp
  tt_eager/tt_dnn/op_library/backward/backward_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_backward_ops.cpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#9152: Add Optional output tensor and Q_ID support for Tril
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_tril.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/composite/composite_ops.cpp
  tt_eager/tt_dnn/op_library/composite/composite_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#9208: Functional SqueezeBERT model Demo
  models/experimental/functional_squeezebert/README.md
  models/experimental/functional_squeezebert/demo/demo.py
  models/experimental/functional_squeezebert/demo/input_data.json
  models/experimental/functional_squeezebert/tt/ttnn_functional_squeezebert.py
Owners: none

#8980: Test FADNetpp in ttnn
  models/experimental/functional_fadnetpp/reference/cunet.py
  models/experimental/functional_fadnetpp/reference/dispnetc.py
  models/experimental/functional_fadnetpp/reference/extractnet.py
  models/experimental/functional_fadnetpp/reference/resblock.py
  models/experimental/functional_fadnetpp/tt/ttnn_cunet.py
  models/experimental/functional_fadnetpp/tt/ttnn_extractnet.py
  models/experimental/functional_fadnetpp/tt/ttnn_resblock.py
  tests/ttnn/integration_tests/fadnetpp/test_ttnn_dispnetc.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#5044: Add optional output ,cq_id to addalpha
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_addalpha.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/composite/composite_ops.cpp
  tt_eager/tt_dnn/op_library/composite/composite_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#9217: Add cq_id to add, mul, mul_bw
  tests/tt_eager/ops/test_eltwise_binary_op.cpp
  tt_eager/tt_dnn/op_library/backward/backward_ops.cpp
  tt_eager/tt_dnn/op_library/backward/backward_ops.hpp
  tt_eager/tt_dnn/op_library/eltwise_binary/eltwise_binary_op.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_backward_ops.cpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_xary_ops.cpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#0: wip
  tests/tt_metal/tt_metal/test_kernels/dataflow/streams/stream_io_kernel_helpers.hpp
  tt_metal/impl/dispatch/kernels/packet_mux.cpp
  tt_metal/impl/dispatch/kernels/packet_queue.hpp
Owners: @ubcheema

#0: wip
  tests/tt_metal/tt_metal/test_kernels/dataflow/streams/stream_io_kernel_helpers.hpp
  tt_metal/impl/dispatch/kernels/packet_demux.cpp
Owners: @ubcheema

#0: wip
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/test_tunnel_1cq_single_chip_through_stream.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/streams/stream_io_kernel_helpers.hpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/streams/stream_relay_remote_sender.cpp
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch/streams/relay_stream_builders.hpp
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch/streams/test_autonomous_relay_streams.cpp
  tt_metal/impl/dispatch/kernels/packet_queue.hpp
Owners: @ubcheema

#8706: Use different alignment for dram/l1 allocators
  tt_eager/tt_dnn/op_library/all_gather/all_gather_op.cpp
  tt_eager/tt_dnn/op_library/concat/concat_op.cpp
  tt_eager/tt_dnn/op_library/concat/multi_core/concat_op_multi_core.cpp
  tt_eager/tt_dnn/op_library/move/move_op.hpp
  tt_eager/tt_dnn/op_library/move/multi_core/move_op_multi_core_overlap.cpp
  tt_eager/tt_dnn/op_library/move/multi_core/move_op_multi_core_sharded.cpp
  tt_eager/tt_dnn/op_library/repeat/multi_core/repeat_op_multi_core.cpp
  tt_eager/tt_dnn/op_library/repeat/repeat_op.cpp
  tt_eager/tt_dnn/op_library/sharded/multi_core/sharded_op_multi_core.cpp
  tt_metal/detail/tt_metal.hpp
  tt_metal/detail/util.hpp
  tt_metal/impl/allocator/allocator.cpp
  tt_metal/impl/allocator/allocator.hpp
  tt_metal/impl/allocator/allocator_types.hpp
  tt_metal/impl/allocator/l1_banking_allocator.cpp
  tt_metal/impl/buffers/buffer.cpp
  tt_metal/impl/buffers/buffer.hpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/dispatch/command_queue.cpp
Owners: @tarafdarTT, @kmabeeTT, @pgkeller, @tt-asaigal

#0: remove unused addrs from bh dev mem map
  tt_metal/hw/inc/blackhole/dev_mem_map.h
  tt_metal/hw/inc/dev_msgs.h
Owners: none

#0: fix for adding alignment() accessor to buffer after rebase - squash this
  tt_eager/tt_dnn/op_library/sharded/multi_core/sharded_op_multi_core.cpp
Owners: none

#0: debug for tensix_sync hang
  tests/tt_metal/tt_metal/unit_tests_common/basic/test_device_init.cpp
  tt_metal/hw/firmware/src/trisc.cc
  tt_metal/kernels/compute/blank.cpp
Owners: none

#8705: Remove handling ncrisc iram for BH
  tt_metal/hw/firmware/src/brisc.cc
  tt_metal/hw/firmware/src/ncrisc.cc
  tt_metal/hw/inc/blackhole/dev_mem_map.h
  tt_metal/hw/inc/grayskull/dev_mem_map.h
  tt_metal/hw/inc/risc_common.h
  tt_metal/hw/inc/wormhole/dev_mem_map.h
  tt_metal/hw/toolchain/tensix-memory.ld
  tt_metal/jit_build/build.cpp
  tt_metal/llrt/llrt.hpp
  tt_metal/llrt/tt_cluster.hpp
Owners: none

#8705: Update brisc <-> ncrisc sync mechanism when ncrisc doesn't have iram
  tt_metal/hw/firmware/src/ncrisc.cc
Owners: none

#8704: Correctly program _HI registers in BH noc nonblocking apis
  tt_metal/hw/inc/blackhole/noc_nonblocking_api.h
  tt_metal/hw/inc/dataflow_api.h
Owners: none

#0: squash - fix
  tt_metal/hw/firmware/src/ncrisc.cc
Owners: none

#8705: invalidate ncrisc icache
  tests/tt_metal/tt_metal/unit_tests_common/basic/test_device_init.cpp
  tt_metal/hw/firmware/src/brisc.cc
Owners: none

#8986: Update core descriptor for BH to have 14x9 compute grid with last row for dispatcj
  tt_metal/core_descriptors/blackhole_140_arch.yaml
  tt_metal/hw/inc/mod_div_lib.h
  tt_metal/impl/allocator/allocator.cpp
Owners: none
