Repository jaebaek/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @tapspatel, @davorchap, @TT-billteng, @pgkeller, @vtangTT, @mo-tenstorrent, @aliuTT, @tt-aho, @TT-BrianLiu, @ttmchiou, @abhullar-tt, @kmabeeTT, @tarafdarTT, @tt-asaigal, @ubcheema, @rtawfik01, @mywoodstock, @ttmtrajkovic, @rdjogoTT, @bbradelTT, @yugaoTT, @SeanNijjar, @arakhmati, @eyonland, @cfjchu, @xanderchin, @boris-drazic, @tt-nshanker, @uaydonat, @AleksKnezevic, @nsmithtt, @skhorasganiTT, @djordje-tt, @esmalTT, @kpaigwar, @pavlejosipovic, @pavlepopovic, @s-jovic, @yieldthought, @mtairum, @johanna-rock-tt, @cglagovichTT, @caixunshiren

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

# T3000 workflows
.github/workflows/t3000*.yaml @tapspatel

# TG workflows
.github/workflows/tg-*.yaml @tapspatel

# TGG workflows
.github/workflows/tgg*.yaml @tapspatel

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim
METALIUM_GUIDE.md @davorchap

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
scripts/build_scripts/build_with_profiler_opt.sh @mo-tenstorrent @tt-rkim
cmake/ @tt-rkim @vtangTT @TT-billteng
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_metal/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_eager/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @tapspatel
tests/scripts/tg/ @tapspatel
tests/scripts/tgg/ @tapspatel

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @davorchap @kmabeeTT
# tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @tarafdarTT @kmabeeTT
# tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @pgkeller @tt-asaigal
tt_metal/impl/dispatch/kernels/packet_* @ubcheema
tt_metal/impl/dispatch/kernels/eth_* @ubcheema
tt_metal/kernels/dataflow/dispatch/ @tarafdarTT @pgkeller
docs/source/frameworks/tt_dispatch.rst @pgkeller
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT
tt_metal/hw/inc/ethernet/ @aliuTT
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim @tapspatel

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
tt_eager/tt_dnn/op_library/bmm/ @TT-BrianLiu @bbradelTT @yugaoTT

# eager - tensor and op infra
tt_eager/tt_dnn/op_library/ccl/ @SeanNijjar
tt_eager/tt_dnn/op_library/operation_history.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/run_operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/program_cache.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tensor/ @arakhmati @eyonland @cfjchu @xanderchin

# eager - python api
# **/tt_lib/
**/tt_eager/tt_lib/csrc/ @TT-BrianLiu @tt-aho @mywoodstock
**/tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_pytensor.cpp @arakhmati @eyonland @cfjchu @xanderchin
**/tt_eager/tt_lib/fallback_ops @tt-aho

# TTNN
ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu
ttnn/setup.py @tt-rkim
ttnn/module.mk @tt-rkim
ttnn/CMakeLists.txt @tt-rkim
tests/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu

# models
models/ @boris-drazic
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati @cfjchu @xanderchin
models/demos @eyonland @arakhmati @cfjchu @xanderchin
models/demos/wormhole @uaydonat @eyonland @AleksKnezevic @nsmithtt
models/demos/t3000 @uaydonat @AleksKnezevic @nsmithtt
models/demos/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat @pavlejosipovic @pavlepopovic @s-jovic
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/t3000/falcon40b @johanna-rock-tt @uaydonat @s-jovic
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/grayskull @boris-drazic @eyonland
models/experimental/
models/perf/ @boris-drazic @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @arakhmati @cfjchu @xanderchin
docs/source/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/install @tapspatel
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim

#8796: Add program caching to layernorm part 1 test
  tests/tt_eager/python_api_testing/unit_testing/misc/test_distributed_layernorm_1.py
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part1_op.cpp
Owners: none

#8796: Fix distributed layernorm test: all passing
  tests/tt_eager/python_api_testing/unit_testing/misc/test_distributed_layernorm.py
Owners: none

#8796: POC implementation of pytorch and tt-metal distributed layernorm
  models/demos/t3000/falcon40b/scripts/distributed_layernorm.py
  models/demos/t3000/falcon40b/tests/ops/test_distributed_layernorm.py
  models/demos/t3000/falcon40b/tt/ops/distributed_layernorm.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

#8796: Distributed layernorm part 1 op implementation
  tests/tt_eager/python_api_testing/unit_testing/misc/test_distributed_layernorm_1.py
  tt_eager/tt_dnn/op_library/CMakeLists.txt
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/compute/layernorm_part1.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/dataflow/reader_unary_interleaved_lnp1_rm_gb.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part1_op.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part1_op.hpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part1_op_multi_core.cpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#0: Ln progress improvements
  .gitignore
  models/demos/falcon7b/tests/test_falcon_causallm.py
  models/demos/falcon7b/tests/test_falcon_model.py
  models/demos/falcon7b/tests/test_perf_falcon.py
  run_command.txt
Owners: @skhorasganiTT, @djordje-tt, @uaydonat

#8590: ShiftedWindowAttention Submodule Implementation
  models/experimental/functional_swin_s/reference/shifted_window_attention.py
  models/experimental/functional_swin_s/tt/tt_shifted_window_attention.py
Owners: none

#8590: [WIP] Add Swin ShiftedWindowAttention Sub-Module ttnn implementation
  models/experimental/functional_swin_s/README.md
  models/experimental/functional_swin_s/reference/mlp.py
  models/experimental/functional_swin_s/reference/patchmerging.py
  models/experimental/functional_swin_s/reference/shifted_window_attention.py
  models/experimental/functional_swin_s/reference/swin_transformer.py
  models/experimental/functional_swin_s/reference/swin_transformer_block.py
  models/experimental/functional_swin_s/tt/tt_mlp.py
  models/experimental/functional_swin_s/tt/tt_patchmerging.py
  models/experimental/functional_swin_s/tt/tt_shifted_window_attention.py
  models/experimental/functional_swin_s/tt/tt_swin_transformer.py
  models/experimental/functional_swin_s/tt/tt_swin_transformer_block.py
  tests/ttnn/integration_tests/swin_s/test_ttnn_mlp.py
  tests/ttnn/integration_tests/swin_s/test_ttnn_patchmerging.py
  tests/ttnn/integration_tests/swin_s/test_ttnn_shifted_window_attention.py
  tests/ttnn/integration_tests/swin_s/test_ttnn_swin_transformer.py
  tests/ttnn/integration_tests/swin_s/test_ttnn_swin_transformer_block.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#8865: Fix crash in host profiling infra
  tests/tt_eager/profiling/ops_for_profiling.py
  tests/tt_eager/profiling/profile_host_overhead.py
  tests/tt_eager/profiling/profile_host_overhead_with_tracy.py
Owners: none

#9288: Add reference implementation for Distilbert model
  models/demos/distilbert/reference/torch_distilbert.py
  tests/ttnn/integration_tests/distilbert/test_torch_distilbert.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#8796: Update validate checks to allow bfp8 inputs
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part1_op.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op.cpp
Owners: none

#0: Support math fidelity configuration in `ssm_eltwise_mul`
  models/demos/mamba/tt/mamba_one_step_ssm.py
  tt_eager/tt_dnn/op_library/transformer_tms/multi_core_ssm_eltwise_mul/multi_core_ssm_eltwise_mul.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.hpp
  tt_eager/tt_lib/csrc/operations/primary/transformers/module.hpp
Owners: @esmalTT, @uaydonat, @kpaigwar, @TT-BrianLiu, @tt-aho, @mywoodstock

#0: Support math fidelity configuration in `ssm_1d_sum_reduce`
  models/demos/mamba/tt/mamba_one_step_ssm.py
  tt_eager/tt_dnn/op_library/transformer_tms/multi_core_ssm_1d_sum_reduce/multi_core_ssm_1d_sum_reduce.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
  tt_eager/tt_dnn/op_library/transformer_tms/transformer_tms.hpp
  tt_eager/tt_lib/csrc/operations/primary/transformers/module.hpp
Owners: @esmalTT, @uaydonat, @kpaigwar, @TT-BrianLiu, @tt-aho, @mywoodstock

#0: Fused layernorm v0
  models/demos/t3000/falcon40b/tt/falcon_decoder.py
  models/demos/t3000/falcon40b/tt/falcon_model.py
  models/demos/t3000/falcon40b/tt/model_config.py
  models/demos/t3000/falcon40b/tt/model_utils.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

#0: Fused layernorm gamma+beta applied to slices WIP
  models/demos/t3000/falcon40b/tt/falcon_decoder.py
  models/demos/t3000/falcon40b/tt/model_config.py
  models/demos/t3000/falcon40b/tt/model_utils.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

#0: Cleanup
  models/demos/t3000/falcon40b/tt/falcon_decoder.py
  models/demos/t3000/falcon40b/tt/falcon_model.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

#8929: Add fused partial layernorm for attetnion and mlp ln in falcon40b
  models/demos/t3000/falcon40b/tests/ci/test_falcon_end_to_end_60_layer_t3000_prefill_10_loops.py
  models/demos/t3000/falcon40b/tests/ops/test_fused_falcon_layernorm.py
  models/demos/t3000/falcon40b/tests/test_falcon_end_to_end.py
  models/demos/t3000/falcon40b/tt/falcon_decoder.py
  models/demos/t3000/falcon40b/tt/model_config.py
  models/demos/t3000/falcon40b/tt/model_utils.py
  models/demos/t3000/falcon40b/tt/ops/fused_layernorm.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

#0: Fix after rebase
  models/demos/t3000/falcon40b/tt/falcon_decoder.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

#9295: Yolov4 relu fused convs integration
  models/experimental/functional_yolov4/reference/downsample1.py
  models/experimental/functional_yolov4/reference/downsample2.py
  models/experimental/functional_yolov4/reference/downsample3.py
  models/experimental/functional_yolov4/reference/downsample4.py
  models/experimental/functional_yolov4/reference/downsample5.py
  models/experimental/functional_yolov4/reference/head.py
  models/experimental/functional_yolov4/reference/neck.py
  models/experimental/functional_yolov4/reference/yolov4.py
  models/experimental/functional_yolov4/tt/ttnn_downsample1.py
  models/experimental/functional_yolov4/tt/ttnn_downsample2.py
  models/experimental/functional_yolov4/tt/ttnn_downsample3.py
  models/experimental/functional_yolov4/tt/ttnn_downsample4.py
  models/experimental/functional_yolov4/tt/ttnn_downsample5.py
  models/experimental/functional_yolov4/tt/ttnn_head.py
  models/experimental/functional_yolov4/tt/ttnn_neck.py
  models/experimental/functional_yolov4/tt/ttnn_resblock.py
  models/experimental/functional_yolov4/tt/ttnn_yolov4.py
  tests/ttnn/integration_tests/yolov4/custom_preprocessor_d1.py
  tests/ttnn/integration_tests/yolov4/custom_preprocessor_d2.py
  tests/ttnn/integration_tests/yolov4/custom_preprocessor_d3.py
  tests/ttnn/integration_tests/yolov4/custom_preprocessor_d4.py
  tests/ttnn/integration_tests/yolov4/custom_preprocessor_d5.py
  tests/ttnn/integration_tests/yolov4/custom_preprocessor_head.py
  tests/ttnn/integration_tests/yolov4/custom_preprocessor_neck.py
  tests/ttnn/integration_tests/yolov4/test_ttnn_downsample1.py
  tests/ttnn/integration_tests/yolov4/test_ttnn_downsample2.py
  tests/ttnn/integration_tests/yolov4/test_ttnn_downsample3.py
  tests/ttnn/integration_tests/yolov4/test_ttnn_downsample4.py
  tests/ttnn/integration_tests/yolov4/test_ttnn_downsample5.py
  tests/ttnn/integration_tests/yolov4/test_ttnn_head.py
  tests/ttnn/integration_tests/yolov4/test_ttnn_neck.py
  tests/ttnn/integration_tests/yolov4/test_ttnn_yolov4.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: Ln optimisation
  models/demos/falcon7b/tests/test_perf_falcon.py
  models/demos/falcon7b/tt/falcon_decoder.py
  models/demos/falcon7b/tt/falcon_model.py
Owners: @skhorasganiTT, @djordje-tt, @uaydonat

#4003: disallow settng enable_fast_runtime_mode during compile-time
  ttnn/ttnn/__init__.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: 512x512 runs to completion, but pcc error
  models/experimental/resnet/tt/ttnn_functional_resnet50_large_new_conv_api.py
  tests/ttnn/integration_tests/resnet/test_ttnn_functional_resnet50_large_new.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: use RM shard orientation with block sharding
  models/experimental/resnet/tt/ttnn_functional_resnet50_xxlarge_new_conv_api.py
Owners: none

#0: debugging
  models/experimental/resnet/tt/ttnn_functional_resnet50_new_conv_api.py
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
  tt_eager/tt_dnn/op_library/conv/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
  tt_eager/tt_dnn/op_library/sliding_window_op_infra/sliding_window.cpp
  tt_eager/tt_dnn/op_library/sliding_window_op_infra/sliding_window.hpp
Owners: @tt-nshanker

#0: still debugging
  models/experimental/resnet/tt/ttnn_functional_resnet50_new_conv_api.py
Owners: none

#0: 1024x1024 runs to completion
  models/experimental/resnet/tt/ttnn_functional_resnet50_xxlarge_new_conv_api.py
  tests/ttnn/integration_tests/resnet/test_ttnn_functional_resnet50_xxlarge_new.py
  tt_eager/tt_dnn/op_library/conv/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: 896x896 passes!
  models/experimental/resnet/tt/ttnn_functional_resnet50_large_new_conv_api.py
  models/experimental/resnet/tt/ttnn_functional_resnet50_xlarge_new_conv_api.py
  tests/ttnn/integration_tests/resnet/test_ttnn_functional_resnet50_xlarge_new.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: high res resnet as resnet large
  models/experimental/resnet/tt/ttnn_functional_resnet50_large_new_conv_api.py
  tests/ttnn/integration_tests/resnet/test_ttnn_functional_resnet50_large_new.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: b20 works, need to cleanup
  models/experimental/resnet/tt/ttnn_functional_resnet50_new_conv_api.py
Owners: none

#0: wip - layer 4 module 1 conv3 memconfig mismatch
  models/experimental/resnet/tt/ttnn_functional_resnet50_xlarge_new_conv_api.py
  tests/ttnn/integration_tests/resnet/test_ttnn_functional_resnet50_xlarge_new.py
  tt_eager/tt_dnn/op_library/conv/optimized_conv_op.cpp
  tt_eager/tt_dnn/op_library/sliding_window_op_infra/sliding_window.cpp
  ttnn/visualizer/app.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: some more updates
  models/experimental/resnet/tt/ttnn_functional_resnet50_large_new_conv_api.py
  tests/ttnn/integration_tests/resnet/test_ttnn_functional_resnet50_large_new.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: dont need to compute it yet
  tests/ttnn/integration_tests/resnet/test_ttnn_functional_resnet50_xxlarge_new.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: debugging b20, stuck at l2m1 downsample
  models/experimental/resnet/tt/ttnn_functional_resnet50_new_conv_api.py
  ttnn/cpp/ttnn/operations/conv2d.cpp
  ttnn/ttnn/operations/conv2d.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: 1kx1k test model~
  models/experimental/resnet/tt/ttnn_functional_resnet50_xxlarge_new_conv_api.py
  tests/ttnn/integration_tests/resnet/test_ttnn_functional_resnet50_xxlarge_new.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#4858: add 2nd param to typecast
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/eltwise_unary/eltwise_unary_op.cpp
  tt_eager/tt_dnn/op_library/eltwise_unary/eltwise_unary_op.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_xary_ops.cpp
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_typecast.h
  tt_metal/include/compute_kernel_api/eltwise_unary/typecast.h
  ttnn/cpp/ttnn/operations/unary.hpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock, @rtawfik01, @eyonland, @arakhmati, @cfjchu, @xanderchin

#9114: modifying llama2 experimental tests to work with multi device.
  models/experimental/llama2_70b/tests/test_llama_attention.py
  models/experimental/llama2_70b/tests/test_llama_attention_t3000.py
  models/experimental/llama2_70b/tests/test_llama_decoder.py
  models/experimental/llama2_70b/tests/test_llama_decoder_t3000.py
  models/experimental/llama2_70b/tests/test_llama_mlp_t3000.py
Owners: none

#9224: llama2/3 experimental unit tests added to CI, fixed issues with attention and decoder prepare_inputs
  models/experimental/llama2_70b/tests/test_llama_attention_t3000.py
  models/experimental/llama2_70b/tests/test_llama_decoder_t3000.py
  models/experimental/llama2_70b/tests/test_llama_mlp_t3000.py
  models/experimental/llama2_70b/tt/llama_attention_optimized.py
  models/experimental/llama2_70b/tt/llama_decoder_optimized.py
  tests/scripts/t3000/run_t3000_frequent_tests.sh
Owners: @tapspatel

#9224: Enable llama3 model test, skip tensor deallocate if tensors has not been initialized
  models/experimental/llama2_70b/tests/test_llama_model_t3000.py
  tt_eager/tensor/tensor.cpp
Owners: @arakhmati, @eyonland, @cfjchu, @xanderchin

#9224: skip tensor deallocate on device if device is already destroyed
  tt_eager/tensor/tensor.cpp
Owners: @arakhmati, @eyonland, @cfjchu, @xanderchin

#9224: llama3 model tests t3k works without segfault.
  models/experimental/llama2_70b/tests/test_llama_model_t3000.py
Owners: none

#9323: Introduce template for new ttnn pull requests
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/PULL_REQUEST_TEMPLATE/ttnn.md
Owners: @tt-rkim
