Repository jaebaek/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @tapspatel, @davorchap, @TT-billteng, @pgkeller, @vtangTT, @mo-tenstorrent, @aliuTT, @tt-aho, @TT-BrianLiu, @ttmchiou, @abhullar-tt, @kmabeeTT, @tarafdarTT, @tt-asaigal, @ubcheema, @rtawfik01, @mywoodstock, @ttmtrajkovic, @rdjogoTT, @bbradelTT, @yugaoTT, @SeanNijjar, @arakhmati, @eyonland, @cfjchu, @xanderchin, @boris-drazic, @tt-nshanker, @uaydonat, @AleksKnezevic, @nsmithtt, @skhorasganiTT, @djordje-tt, @esmalTT, @kpaigwar, @pavlejosipovic, @pavlepopovic, @s-jovic, @yieldthought, @mtairum, @johanna-rock-tt, @cglagovichTT, @caixunshiren

#0: add debug timeout when polling riscs for completion
  tt_metal/llrt/llrt.cpp
Owners: none

#9144: Reduce DRAM bank size by 16MB to workaround top 16MB being inaccessible
  tt_metal/soc_descriptors/blackhole_140_arch.yaml
Owners: none

#0: remove debug prints from trisc
  tt_metal/hw/firmware/src/trisc.cc
Owners: none

#8706: Support 64B DRAM read alignment for BH
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/common.h
  tt_metal/detail/tt_metal.hpp
  tt_metal/hostdevcommon/common_runtime_address_map.h
  tt_metal/hostdevcommon/common_values.hpp
  tt_metal/hw/inc/blackhole/noc/noc_parameters.h
  tt_metal/hw/inc/debug/sanitize_noc.h
  tt_metal/hw/inc/grayskull/noc/noc_parameters.h
  tt_metal/hw/inc/wormhole/noc/noc_parameters.h
  tt_metal/impl/dispatch/command_queue.cpp
  tt_metal/impl/dispatch/command_queue_interface.hpp
Owners: @pgkeller, @tt-asaigal

#0: Add eps for BH but consider turning it into api
  tt_metal/impl/device/device.hpp
Owners: none

#0: squash - fixes to skip over routines for ncrisc with iram in brisc fw
  tt_metal/hw/firmware/src/brisc.cc
Owners: none

#8534: Edits to gitlab variables
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

#8534: Add the first iteration of the doc pipeline that brings the docs into the centralized repo
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

#0: Add support for DeviceComputeConfig in EltwiseBinary
  tt_eager/tt_dnn/op_library/eltwise_binary/eltwise_binary_op.cpp
  tt_eager/tt_dnn/op_library/eltwise_binary/eltwise_binary_op.hpp
  tt_eager/tt_dnn/op_library/eltwise_binary/multi_core/eltwise_binary_op_multi_core.cpp
Owners: none

Re-use the existing workflow for testing
  .github/workflows/docs-deployment.yaml
  .github/workflows/docs-latest-public.yaml
Owners: @tt-rkim

Call deployment from the doc wrapper workflow
  .github/workflows/docs-latest-public-wrapper.yaml
Owners: @tt-rkim

Add correct workflow call
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

#0: Add watcher dump support for issue Q rd ptr
  tt_metal/impl/device/device.cpp
  tt_metal/impl/dispatch/command_queue_interface.hpp
  tt_metal/impl/dispatch/dispatch_address_map.hpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Owners: @pgkeller, @tt-asaigal

#9142: Remove unused addrmod func
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_params.h
Owners: @rtawfik01

Add a -r for the directory
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

#0: wip
  tests/tt_metal/tt_metal/test_kernels/dataflow/streams/stream_relay_remote_receiver.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/streams/stream_relay_remote_sender.cpp
  tt_metal/impl/dispatch/kernels/packet_mux.cpp
  tt_metal/impl/dispatch/kernels/packet_queue.hpp
  tt_metal/impl/dispatch/kernels/packet_queue_ctrl.hpp
Owners: @ubcheema

#0: scalar implementations for unpack bfp8/bfp4
  tt_metal/common/bfloat4.hpp
  tt_metal/common/bfloat8.hpp
  tt_metal/common/blockfloat_common.hpp
Owners: none

#0: Add common pack config
  tt_metal/include/compute_kernel_api/bcast.h
  tt_metal/include/compute_kernel_api/eltwise_binary.h
  tt_metal/include/compute_kernel_api/eltwise_unary/eltwise_unary.h
  tt_metal/include/compute_kernel_api/matmul.h
  tt_metal/include/compute_kernel_api/pack.h
  tt_metal/include/compute_kernel_api/tilize.h
  tt_metal/include/compute_kernel_api/transpose_wh.h
  tt_metal/include/compute_kernel_api/untilize.h
Owners: @rtawfik01

#5389: moved ExecuteBinary outside of op_library
  ttnn/cpp/ttnn/op_library/binary/binary_op.cpp
  ttnn/cpp/ttnn/op_library/binary/binary_op.hpp
  ttnn/cpp/ttnn/operations/binary.hpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#0: Created SD Test/Demo files
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_cross_attention_down_block_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_cross_attn_upblock_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_downblock_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_downsample_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_transformer_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_unet_2d_condition_model_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_unet_mid_block_2d_cross_attn_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_upblock_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_upsample_2d_new_conv.py
  tests/ttnn/integration_tests/stable_diffusion/test_transformer_2d_model_new_conv.py
  tests/ttnn/integration_tests/stable_diffusion/test_unet_2d_condition_model_new_conv.py
Owners: @uaydonat, @eyonland, @AleksKnezevic, @nsmithtt, @tt-nshanker

#0: Re-enable bcast, don't tileize between GN and conv
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_resnetblock2d_new_conv.py
  tests/device_perf_tests/stable_diffusion/test_perf_stable_diffusion.py
Owners: @uaydonat, @eyonland, @AleksKnezevic, @nsmithtt

#0: SD passes. Working Demo
  models/demos/wormhole/stable_diffusion/demo/demo.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_cross_attention.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_cross_attention_down_block_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_cross_attn_upblock.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_cross_attn_upblock_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_downblock_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_downsample_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_resnetblock2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_transformer_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_unet_2d_condition_model_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_unet_mid_block_2d_cross_attn_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_upblock_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_upsample_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_utility_functions.py
  tests/device_perf_tests/stable_diffusion/test_perf_stable_diffusion.py
  tests/ttnn/integration_tests/stable_diffusion/test_cross_attn_up_block_2d_new_conv.py
  tests/ttnn/integration_tests/stable_diffusion/test_resnet_block_2d_new_conv.py
  tests/ttnn/integration_tests/stable_diffusion/test_transformer_2d_model.py
  tests/ttnn/integration_tests/stable_diffusion/test_transformer_2d_model_new_conv.py
  tests/ttnn/integration_tests/stable_diffusion/test_unet_2d_condition_model_new_conv.py
  tests/ttnn/integration_tests/stable_diffusion/test_upblock_2d_new_conv.py
  tests/ttnn/integration_tests/stable_diffusion/test_upsample_2d_new_conv.py
  tt_eager/tt_dnn/op_library/sliding_window_op_infra/sliding_window_op_utils.py
  ttnn/ttnn/__init__.py
  ttnn/ttnn/operations/conv2d.py
Owners: @uaydonat, @eyonland, @AleksKnezevic, @nsmithtt, @tt-nshanker, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu

#8681: Add frac op
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_frac.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/composite/composite_ops.cpp
  tt_eager/tt_dnn/op_library/composite/composite_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @tt-aho, @mywoodstock

#8681: Add div_trunc op
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_div_trunc.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_unary_div_trunc.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/composite/composite_ops.cpp
  tt_eager/tt_dnn/op_library/composite/composite_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @tt-aho, @mywoodstock

#8681: Add rfloor_div op
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_rfloor_div.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/composite/composite_ops.cpp
  tt_eager/tt_dnn/op_library/composite/composite_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @tt-aho, @mywoodstock

#8681: Add rdiv_trunc op
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_unary_rdiv_trunc.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/composite/composite_ops.cpp
  tt_eager/tt_dnn/op_library/composite/composite_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @tt-aho, @mywoodstock

#8681: Add ceil op
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_eltwise_unary.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/conv/conv_op.cpp
  tt_eager/tt_dnn/op_library/conv/multi_core_optimized_conv/optimized_conv_op.cpp
  tt_eager/tt_dnn/op_library/conv/multi_core_optimized_conv_sharded/optimized_conv_op_sharded.cpp
  tt_eager/tt_dnn/op_library/conv/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
  tt_eager/tt_dnn/op_library/conv/optimized_conv_op.cpp
  tt_eager/tt_dnn/op_library/eltwise_unary/eltwise_unary_op.cpp
  tt_eager/tt_dnn/op_library/eltwise_unary/eltwise_unary_op.hpp
  tt_eager/tt_dnn/op_library/eltwise_unary/multi_core/eltwise_unary_op_sharded.cpp
  tt_eager/tt_dnn/op_library/pool/max_pool.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_xary_ops.cpp
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_math_unary_sfpu_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_ceil.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_ceil.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/include/compute_kernel_api/eltwise_unary/ceil.h
  tt_metal/include/compute_kernel_api/eltwise_unary/sfpu_split_includes.h
  ttnn/cpp/ttnn/operations/conv2d.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @tt-aho, @mywoodstock, @rtawfik01

#0: Conv2dConfig changes
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_downsample_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_resnetblock2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_transformer_2d_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_unet_2d_condition_model_new_conv.py
  models/demos/wormhole/stable_diffusion/tt2/ttnn_functional_upsample_2d_new_conv.py
Owners: @uaydonat, @eyonland, @AleksKnezevic, @nsmithtt

#9151: Add optional tensor to embeddings
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_embedding.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_embedding.py
  tt_eager/tt_dnn/op_library/backward/backward_ops.cpp
  tt_eager/tt_dnn/op_library/backward/backward_ops.hpp
  tt_eager/tt_dnn/op_library/embeddings/embeddings_op.cpp
  tt_eager/tt_dnn/op_library/embeddings/embeddings_op.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor.cpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_backward_ops.cpp
  ttnn/cpp/pybind11/operations/embedding.hpp
  ttnn/cpp/ttnn/operations/embedding.hpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock, @eyonland, @arakhmati, @cfjchu, @xanderchin

#8725: Update warning for persistent kernel cache
  models/utility_functions.py
Owners: @boris-drazic

#0: Initial setup
  models/demos/falcon7b/tests/test_falcon_decoder.py
  models/demos/falcon7b/tests/test_perf_falcon.py
  models/demos/falcon7b/tt/falcon_attention.py
  models/demos/falcon7b/tt/falcon_decoder.py
  models/demos/falcon7b/tt/falcon_model.py
  models/demos/falcon7b/tt/model_config.py
Owners: @skhorasganiTT, @djordje-tt, @uaydonat

#0: Ln working
  models/demos/falcon7b/tests/test_perf_falcon.py
  models/demos/falcon7b/tt/falcon_attention.py
  models/demos/falcon7b/tt/falcon_decoder.py
  models/demos/falcon7b/tt/model_config.py
  tt_eager/tt_dnn/op_library/layernorm/layernorm_op.cpp
Owners: @skhorasganiTT, @djordje-tt, @uaydonat

#8796: Double buffer CBs in LNP1
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part1_op_multi_core.cpp
Owners: none

#8796: support bfp8_b inputs for layernorm part 2
  tests/tt_eager/python_api_testing/unit_testing/misc/test_distributed_layernorm_2.py
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op_multi_core.cpp
Owners: none

#8796: Update distributed_layernorm test
  tests/tt_eager/python_api_testing/unit_testing/misc/test_distributed_layernorm.py
Owners: none

#8796: Distributed RMSNorm part 2 correct, LN off by a bit.
  tests/tt_eager/python_api_testing/unit_testing/misc/test_distributed_layernorm_2.py
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/compute/layernorm.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/compute/layernorm_part2.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/dataflow/reader_unary_interleaved_ln_rm_gb.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/dataflow/writer_unary_interleaved_start_id_blocked.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op.hpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op_multi_core.cpp
Owners: none

#8796: Added test for lnp2, created op skeleton
  tests/tt_eager/python_api_testing/unit_testing/misc/test_distributed_layernorm_2.py
  tt_eager/tt_dnn/op_library/CMakeLists.txt
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/compute/layernorm.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/dataflow/reader_unary_interleaved_ln_rm_gb.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/dataflow/writer_unary_interleaved_start_id_blocked.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op.hpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op_multi_core.cpp
  tt_eager/tt_lib/csrc/operations/primary/module.hpp
Owners: @TT-BrianLiu, @tt-aho, @mywoodstock

#8796: RMSNorm and LayerNorm part 2 are correct
  tests/tt_eager/python_api_testing/unit_testing/misc/test_distributed_layernorm_2.py
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/compute/layernorm_part2.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/dataflow/reader_unary_interleaved_ln_rm_gb.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/kernels/dataflow/writer_unary_interleaved_start_id_blocked.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op.cpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op.hpp
  tt_eager/tt_dnn/op_library/layernorm_distributed/layernorm_part2_op_multi_core.cpp
Owners: none

#8796: Add distributed layernorm test WIP
  tests/tt_eager/python_api_testing/unit_testing/misc/test_distributed_layernorm.py
Owners: none

#8796: Add DLNP1 test and POC implementation
  models/demos/t3000/falcon40b/tests/ops/test_distributed_layernorm.py
  models/demos/t3000/falcon40b/tests/ops/test_distributed_layernorm_dlnp1.py
  models/demos/t3000/falcon40b/tt/ops/distributed_layernorm_dlnp1.py
Owners: @johanna-rock-tt, @uaydonat, @s-jovic

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

# T3000 workflows
.github/workflows/t3000*.yaml @tapspatel

# TG workflows
.github/workflows/tg-*.yaml @tapspatel

# TGG workflows
.github/workflows/tgg*.yaml @tapspatel

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim
METALIUM_GUIDE.md @davorchap

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
scripts/build_scripts/build_with_profiler_opt.sh @mo-tenstorrent @tt-rkim
cmake/ @tt-rkim @vtangTT @TT-billteng
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_metal/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_eager/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @tapspatel
tests/scripts/tg/ @tapspatel
tests/scripts/tgg/ @tapspatel

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @davorchap @kmabeeTT
# tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @tarafdarTT @kmabeeTT
# tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @pgkeller @tt-asaigal
tt_metal/impl/dispatch/kernels/packet_* @ubcheema
tt_metal/impl/dispatch/kernels/eth_* @ubcheema
tt_metal/kernels/dataflow/dispatch/ @tarafdarTT @pgkeller
docs/source/frameworks/tt_dispatch.rst @pgkeller
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT
tt_metal/hw/inc/ethernet/ @aliuTT
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim @tapspatel

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
tt_eager/tt_dnn/op_library/bmm/ @TT-BrianLiu @bbradelTT @yugaoTT

# eager - tensor and op infra
tt_eager/tt_dnn/op_library/ccl/ @SeanNijjar
tt_eager/tt_dnn/op_library/operation_history.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/run_operation.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tt_dnn/op_library/program_cache.*pp @arakhmati @eyonland @cfjchu @xanderchin
tt_eager/tensor/ @arakhmati @eyonland @cfjchu @xanderchin

# eager - python api
# **/tt_lib/
**/tt_eager/tt_lib/csrc/ @TT-BrianLiu @tt-aho @mywoodstock
**/tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_pytensor.cpp @arakhmati @eyonland @cfjchu @xanderchin
**/tt_eager/tt_lib/fallback_ops @tt-aho

# TTNN
ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu
ttnn/setup.py @tt-rkim
ttnn/module.mk @tt-rkim
ttnn/CMakeLists.txt @tt-rkim
tests/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu

# models
models/ @boris-drazic
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati @cfjchu @xanderchin
models/demos @eyonland @arakhmati @cfjchu @xanderchin
models/demos/wormhole @uaydonat @eyonland @AleksKnezevic @nsmithtt
models/demos/t3000 @uaydonat @AleksKnezevic @nsmithtt
models/demos/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat @pavlejosipovic @pavlepopovic @s-jovic
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/t3000/falcon40b @johanna-rock-tt @uaydonat @s-jovic
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/grayskull @boris-drazic @eyonland
models/experimental/
models/perf/ @boris-drazic @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @arakhmati @cfjchu @xanderchin
docs/source/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/install @tapspatel
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim
